In [13]:
import numpy as np

In [14]:
space = np.loadtxt('arquivos/space.csv', delimiter=';', dtype=str, encoding='utf-8')

In [15]:
# Q1
unique, counts = np.unique(space[:, -1], return_counts=True)
percentagem = counts[3] / len(space) * 100
print('Q1: Porcentagem de missões bem sucedidas: {:.2f}%.'.format(percentagem))

Q1: Porcentagem de missões bem sucedidas: 0.02%.

In [22]:
# Q2
gastos = space[1:,6].astype(float)
quantidade = sum(gastos[gastos > 0])
valor = len(gastos[gastos > 0])
media = quantidade/valor

print("Q2: A média de gastos em missões com custo maior que 0 é: US$ {:.2f}.".format(media))

Q2: A média de gastos em missões com custo maior que 0 é: US$ 153.79.

In [32]:
# Q3
paises = space[1: 2]
eua = np.char.find(paises,'USA') > 0
print("Q3: Foi(ram) lançado(s) em solo americano", len(paises[eua]), 'missão(ões)')

Q3: Foi(ram) lançado(s) em solo americano 1 missão(ões)

In [41]:
# Q4
arr = space[:, [1, -2, 4]]
valores = arr[arr[:, 0] == "SpaceX", 1]
nomes = arr[arr[:, 0] == "SpaceX", 2]
result = valores.astype(dtype=np.float64).argmax(axis=0)
print('Q4: A missão da Empresa SpaceX mais cara foi a',(nomes[result] , 'custando US$',valores[result]))

Q4: A missão da Empresa SpaceX mais cara foi a ('Falcon Heavy | STP-2', 'custando US$', '90.0 ')

In [45]:
# Q5
empresa = space[1:,1]
(x, y) = np.unique(empresa, return_counts=True)
print('Q5: Empresas que realizaram missões e suas quantidades:\n')
for i in range(len(x)):
    print("Empresa:{}, Numero de missoes: {}".format(x[i],y[i]))

Q5: Empresas que realizaram missões e suas quantidades:

Empresa:AEB, Numero de missoes: 3
Empresa:AMBA, Numero de missoes: 8
Empresa:ASI, Numero de missoes: 9
Empresa:Arianespace, Numero de missoes: 279
Empresa:Arm??e de l'Air, Numero de missoes: 4
Empresa:Blue Origin, Numero de missoes: 12
Empresa:Boeing, Numero de missoes: 136
Empresa:CASC, Numero de missoes: 251
Empresa:CASIC, Numero de missoes: 5
Empresa:CECLES, Numero de missoes: 4
Empresa:CNES, Numero de missoes: 8
Empresa:Douglas, Numero de missoes: 1
Empresa:EER, Numero de missoes: 1
Empresa:ESA, Numero de missoes: 13
Empresa:Eurockot, Numero de missoes: 13
Empresa:ExPace, Numero de missoes: 10
Empresa:Exos, Numero de missoes: 4
Empresa:General Dynamics, Numero de missoes: 251
Empresa:IAI, Numero de missoes: 11
Empresa:ILS, Numero de missoes: 46
Empresa:IRGC, Numero de missoes: 1
Empresa:ISA, Numero de missoes: 13
Empresa:ISAS, Numero de missoes: 30
Empresa:ISRO, Numero de missoes: 76
Empresa:JAXA, Numero de missoes: 7
Empresa:KARI, Numero de missoes: 3
Empresa:KCST, Numero de missoes: 5
Empresa:Khrunichev, Numero de missoes: 1
Empresa:Kosmotras, Numero de missoes: 22
Empresa:Land Launch, Numero de missoes: 7
Empresa:Landspace, Numero de missoes: 1
Empresa:Lockheed, Numero de missoes: 79
Empresa:MHI, Numero de missoes: 84
Empresa:MITT, Numero de missoes: 7
Empresa:Martin Marietta, Numero de missoes: 114
Empresa:NASA, Numero de missoes: 203
Empresa:Northrop, Numero de missoes: 83
Empresa:OKB-586, Numero de missoes: 2
Empresa:OneSpace, Numero de missoes: 1
Empresa:RAE, Numero de missoes: 2
Empresa:RVSN USSR, Numero de missoes: 1777
Empresa:Rocket Lab, Numero de missoes: 13
Empresa:Roscosmos, Numero de missoes: 55
Empresa:SRC, Numero de missoes: 3
Empresa:Sandia, Numero de missoes: 1
Empresa:Sea Launch, Numero de missoes: 36
Empresa:SpaceX, Numero de missoes: 100
Empresa:Starsem, Numero de missoes: 1
Empresa:ULA, Numero de missoes: 140
Empresa:US Air Force, Numero de missoes: 161
Empresa:US Navy, Numero de missoes: 17
Empresa:UT, Numero de missoes: 5
Empresa:VKS RF, Numero de missoes: 201
Empresa:Virgin Orbit, Numero de missoes: 1
Empresa:Yuzhmash, Numero de missoes: 2
Empresa:i-Space, Numero de missoes: 1